*{
    margin: 0;
    top: 0;
}
body{
    background-color: rgba(213, 97, 101, 0.267);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrinho {
    width: 274px;
    background-color: #ffde59;
    right: 0; 
    border: 3px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.carrinho p{
    margin-right: 15px;
}
table {
    background-color: #ffde59;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 10px;
    color:rgb(0, 0, 0);
    padding:10px;
    width:400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    top: 0px;
    left: 90px;
    position: absolute;
    color: black;
    background-color: #ffde59;
    padding: 7px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
.cabecalho .imagem{
    top: 0px;
    position: absolute;
    width: 90px;
    height: 100px;
    left: 0px;
}
caption {
    font-weight: bold; 
    font-size: 25px;
}
.alinhaBtns {
    width:30%;
    background-color: black;
    color:white;
    border:0px;
    padding:5px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.alinhaBtns:hover{
    background-color: white;
    color: black;
}